body {
  font-family: 'Inter', sans-serif;
}


.active-link {
  color: #4f46e5; /* Bleu indigo */
  font-weight: bold;
  border-bottom: 2px solid #4f46e5; /* Effet souligné */
}
  .bg-slider {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: transform 1s ease-in-out, opacity 0.8s ease-in-out;
  }

  .bg-slider.hidden {
    opacity: 0;
    transform: translateX(-100%);
  }

  .bg-slider.active {
    opacity: 1;
    transform: translateX(0);
  }

 

/* Masquer le ruban Google Translate */
.goog-te-banner-frame {
    display: none !important;
}

/* Masquer la pop-up qui s'affiche au clic */
.goog-tooltip, .goog-tooltip:hover {
    display: none !important;
}

/* Désactiver l'ombre autour des textes traduits */
.goog-te-balloon-frame {
    display: none !important;
}

/* Supprimer la bordure sur les textes traduits */
body {
    top: 0px !important;
}

/* Masquer le logo Google en bas à droite */
.goog-logo-link {
    display: none !important;
}

/* Masquer le widget Google Translate flottant */
.goog-te-gadget {
    display: none !important;
}

/* Masquer le ruban Google Translate */
.goog-te-banner-frame {
    display: none !important;
}

/* Masquer la pop-up qui s'affiche au clic */
.goog-tooltip, .goog-tooltip:hover {
    display: none !important;
}

/* Désactiver l'ombre autour des textes traduits */
.goog-te-balloon-frame {
    display: none !important;
}

/* Supprimer la bordure sur les textes traduits */
body {
    top: 0px !important;
}

/* Masquer le logo Google en bas à droite */
.goog-logo-link {
    display: none !important;
}

/* Masquer le widget Google Translate flottant */
.goog-te-gadget {
    display: none !important;
}


